[Unit]
Description=Flower Celery Service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=home/ubuntu/deploy/flaskapp
ExecStart=/home/ubuntu/deploy/flaskapp/virtual_env/bin/celery -app=app.celery worker --workdir="/home/ubuntu/deploy/flaskapp" --loglevel=info
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target