[Unit]
Description=Flower Celery Service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/deploy/flaskapp
ExecStart=/home/ubuntu/deploy/flaskapp/virtual_env/bin/flower --port=5555  --loglevel=info -A app.celery --address=0.0.0.0 --log_file_prefix=/home/ubuntu/deploy/flaskapp/logs/flower
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target