[Unit]
Description=Gunicorn Service
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/var/run/gunicorn.pid
User=root
WorkingDirectory=/home/ubuntu/deploy/flaskapp
ExecStart=/usr/bin/gunicorn --pid /var/run/gunicorn.pid \ 
                            --config /home/ubuntu/deploy/flaskapp/gunicorn.py app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
